.shoppingcart{
    margin: 100px 0 0;
    padding: 0 20px;
    .title{
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;    
    }
    .quantity{
        span{
            padding: 2px 10px;
            border :1px #ccc solid;
        }
        button{
            border: solid 1px #ccc;
            width: 12%;
        }
    }
    .img {
        max-width: 100px;
        @media only screen and (max-width: 577px) {
            max-width:40px;
        }
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

    .total{
        margin-top: 16px;
        margin-bottom: 10px;
        .service {
            margin: 8px -15px;
        }
        .checkout{
            background-color: orange;
            border-radius: 5px;
        }
    }
    textarea {
        width: 100%;
        height: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #ffffff;
        font-size: 16px;
        resize: none;
      }
}
.code-voucher {
 display: flex;
 align-content: center;
 align-items: center;
 .code-input{
    margin:0 auto;
    width: 100px;
    margin-right: 8px;
 }
 button{
     margin-right: auto;
 }
}
.btn-add-container{
    padding: 8px 0;
    margin-bottom: 8px;
    border-bottom: 1px dotted gray;
    .btn-addtocart{
        padding: 0;
        height: 30px;
    }
}













// .total{
        
//     position: relative;
//     left:  0px;
//     width: 300px;
//     border: 3px solid #73AD21;
//     padding: 10px;
//     th{
//         padding-right: 50px;
//     }
// }