.container {
    margin-top: 100px;
}
.mr-1 {
    margin-top: 10px;
    left: 1px;
}
.media-container{
    display: flex;
    align-items: center;
    align-content: center;
}
.media-fullName{
    padding: 16px 0;
    h6{
        text-align: left;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}