h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: #000;
  }


#cart_icon {
    font-size: 30px;
    text-align: center;
   }

   #shop-menus-item  {
    position: relative;
    //padding-top: 30px !important;
  }
  
  
  #shop-menus-item .shop-food-menu {
    // float: left;
    width: 100%;
    // margin-bottom: 30px;
  } 
 
 
  #shop-menus-item .shop-food-menu ul {
    padding: 0;
    margin: 0;
    
  }
  #shop-menus-item .shop-food-menu ul li {
    // padding: 0 0 20px 0;
    display: block;
    float: left;
    width: 100%;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-desc {
    clear: both;
    float: left;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-desc > figure {
    width: 20%;
    float: left;
    position: relative;
    margin-right: 4%;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-desc > figure img {
    max-width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-desc > div {
    float: left;
    position: relative;
    font-size: 12px;
    line-height: 1.0;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-desc > div p {
    margin: 0;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-desc > div h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
    color: #000;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-pricing {
    text-align: right;
    font-size: 12px;
    color: #fb6e14;
  }
  #shop-menus-item .shop-food-menu ul li .shop-food-pricing span {
    color:#9E9E9E;
  }
 
  .shop-food-desc{
    display: flex;
    .product-img{
      img{
        max-width: 75px;
        max-height: 75px;
      }
    }
    .product-info{
      margin-left: 8px;
      .product-info-desc{
        max-width: 333px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      @media only screen and (max-width: 577px) {
        max-width:100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    }
  }

.add-button{
  &:hover{
    filter: invert(57%) sepia(60%) saturate(782%) hue-rotate(331deg) brightness(95%) contrast(85%);;
    cursor: pointer;
  }
}
.shop-food-pricing{
  display: flex;
  align-items: center;
  margin-left: auto;
  .price{
    margin-left: auto;
  }
  .quantity{
    margin: 0 8px;
    input{
      width: 50px;
      height: 20px;
    }
  }
}
.payment-method{
  margin: 8px 0;
}