.container {
    margin-top: 80px;
    margin-bottom: 80px;
}
.user-address{
    .user-address-cell{
        display: flex;
        align-items: center;
        text-align: left;
        border-radius: 8px;
        margin-bottom: 8px;
        border: 1px solid rgba($color: gray, $alpha: 0.3);
        padding: 16px;
        .user-address-cell-title{
            max-width: 500px;
            margin-right: auto;
        }
    }
}