.bill-container-header{
    margin-top: 20px;
}
.bill-container{
    min-width: calc(100vh - 500px);
    font-size: 14px;
    text-align: left;
    padding: 8px;
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .bill-container-item{
        margin-bottom: 16px;
        border-radius: 8px;
        border: 1px solid rgba($color: grey, $alpha: 0.3);
        &-header{
            padding: 8px 15px;
           
            // text-align: center;
            border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
            background-color:rgba(0,0,0,.03);
            .state-bill-DONE{
                background-color: rgb(0, 255, 42);
                border-radius: 3px;
                padding: 5px;
            }
            .state-bill-else{
                background-color: rgb(62, 192, 252);
                border-radius: 3px;
                padding: 5px;
            }
        }
        &-body{
            margin: 10px 0;
            .total{
                padding: 0px;
            }
        }
        span{
            width: 100px;
        }    
    }
    
}
