.shop-cell {
    display: flex;
    .shop-cell-image{
        border: 1px solid rgba($color: gray, $alpha: 0.2);
        
        img {
            padding: 10px;
            max-width: 100px;
        }
    }
    .shop-cell-info{
        margin-left: 8px;
        text-align: left;
        .shop-cell-info-title{
            font-size: 16px;
            font-weight: 600;

        }
        .shop-cell-info-content{
            font-size: 12px;
        }
    }
}
.link-shop-cell{
    color: #282c34;
    &:hover{
        text-decoration: unset;
        color: #ffc107;
    }
}