
.shop-container {
    padding-top: 80px;
}

.shop-container-card-header {
    img {
        padding-top: 3%;
        padding-bottom: 3%;
        
    }
    .shop-card-header-info {
        text-align: left;
        margin-left: 50px;
        top: 50%;
        padding-top: 15%;

        .shop-status {
            color: #6cc942;
        }
        .shop-rating {
            color: #ffc107;
            padding: 0;
        }
    }
}
@media all and (max-width:767px)
{
    .shop-container-card-header
    {
        .shop-card-header-info {
            padding-top: 0;
            margin-left: 0;

        }
        .shop-card-header-info
        {
            // padding-top: 20%; 
            left: 5%;
        }
       
    }
}
.shop-image{
    img{
        object-position: center;
        object-fit: cover;
    }
}