
.main-info-header {
    border: 1px solid #959595;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-color: #f5f5f5 ;
}
.main-info-content {
    border: 1px solid #959595;
    padding: 10px;
}
.title-user {
    font-size: 15px;
    font-weight: 700;
    color: #4073a7;
    position: relative;
    text-align: left;
    left: 20px;
    margin-top: 10px;
}
#avatar_user {
    width: 115px;
    height: 115px;
    border-style: none;
    vertical-align: middle;
    margin: 20px 0px 10px 20px;
}
.upload-image{
    font-size: 14px;
    margin: 20px 0px 10px 20px;

    .label-custom {
        cursor: pointer;
        background-color: #ebebeb;
        text-transform: capitalize;
        padding: 3px 18px 4px;
    }
    
}
.btn-update {
    font-size: 14px;
    background-color: #4073a7;
    color: #fff;
    margin-left: 20px;
}

.form-input {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;

    .show-pass{
        font-weight: 100;
    }

    .change-pass{
        font-size: 14px;
        font-weight: 700;
        margin-left: -50%;
        color: #4073a7;
        border: 0;
        border-bottom: 1px solid #4073a7;
        background-color: transparent;
        padding: 0;
    }
}

.btn-save {
    background-color: #4073a7;
    border-color: #4073a7;
    color: #fff;
    display: block;
    width: 70%;
    font-size: 14px;
    margin-bottom: 30px;
}

.txt-bold {
    font-weight: 700!important;
}

.list-phone {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px;

    .txt-green {
        color: #329900!important;
    }

    .btn-edit {
        background-color: #4073a7;
        border-color: #4073a7;
        color: #fff;
        font-size: 14px;
    }
    
}
