.background{
    min-height: 7px;
    padding-top: 60px;
    height: 100vh;
    background-position: center;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://ieltsngocbach.com/uploads/essay_vocabulary/avatar/106/blog-featured_healthy_foods-20180306.jpg');
    @media only screen and (max-width: 576px) {
       padding-top: unset;
      }
    .from{
        border-radius: 8px;
        width: auto;
        max-width: 576px;
        padding: 30px;
        @media only screen and (max-width: 576px) {
            height: 100vh;
            border-radius: 0;
          }
    }
}
.login-remember{
    display: flex;
    align-items: center;
    line-height: 1;
    .form-check-input{
        margin-right: 5px;
    }
}
.wellcome-header{
    font-size: 24px;
    font-weight: 700;
    display: inline-flex;
    text-transform: uppercase;
    padding: 24px;
    border-radius: 8px;
    color: white;
    @media only screen and (max-width: 576px) {
        display: none;
      }
}